body{
  color: #010101;
}
#root {
  /* max-width: 1280px; */
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  height: -webkit-fill-available;
  background-color: #fcfcfc;
}

p{
  margin: 0;
}

input:focus {
    outline: none;
    border: none; /* or keep your normal border */
    box-shadow: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar{
  z-index: 100;
  position:fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-bottom: #dddddd solid 1px;
}

.navbar_right{
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.navlogo{
  margin-left: 20px;
  color: #010101;
  font-weight: 600;
  font-family: 'Inter', 'Arial', 'sans-serif';
}

.navlink{
  position: relative;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlink button{
  
  color:whitesmoke;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  font-size: small;
  font-weight: 200;
  padding: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #010101;
}

.page_container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 50px;
  background-color: #fcfcfc;
  color: #010101;
}

.page_body{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.page_title{
    text-align: left;
    font-weight: 600;
    font-size:x-large;
}
.page_subtitle{
    text-align: left;
    font-size: small;
    color: #5f5f5f;
}

.page_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post{
  border: 1px solid gray;
  border-radius: 10px;
  padding: 50px;
  text-align: left;
}

.post:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: #aaa;
  scale: 1.02;
}

.readpost{
  margin-top: 80px;
  text-align: left;
  padding: 50px;
  
}

.add_button{
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #010101;
  font-weight: 400;
  cursor: pointer;
  font-size: small;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.search_bar_container{
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: #fff;
  
  border-radius: 5px;
}

.search_bar_and_logo_holder{
    border: #00e1ff solid 1px;
    border-radius: 5px;
    padding: 5px;
}


.search_bar{
  width: -webkit-fill-available;
  background-color: #fff;
  border: none;
  color: #535353;
}

table{
  border-collapse: collapse;
}

.table_holder{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-color: rgb(226 232 240 / var(--tw-border-opacity, 1));
  border-width: 1px;
  
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.inventory_table{
    width: -webkit-fill-available;
    font-weight: 400;
    font-size: small;
    
}

.inventory_table tbody tr{
    border-bottom: #e4e4e4 solid 1px;
}

.inventory_table tbody tr:last-child {
    border-bottom: none;
}


.inventory_table thead{
    background-color: #ebf6fc;
    font-weight: 600;
}

.inventory_table td {
    text-align: left;
    padding: 4px 8px;
}
.inventory_table th{
    text-align: left;
    padding: 10px;
}

.metric_holder{
  display: grid;
  width: -webkit-fill-available;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}
.metric{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 24px;
  border-radius: 5px;
}

.metric_info{
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
  text-align: left;
}

.metric_name{
  font-size: 12px;
  color: #5f5f5f;
}

.metric_value{
  font-size: 24px;
  font-weight: 600;
}

.status-dropdown {
    padding: 6px 10px;
    border: 1px solid #010101;
    border-radius: 4px;
    background: white;
    cursor: pointer;
    color: #000;
}

.status-dropdown:focus {
    outline: none;
    box-shadow: none;
}

.status { padding: 4px 8px; border-radius: 4px; text-align:center; font-weight:600; }
.status.in-stock { background:#d1fae5; color:#065f46; }
.status.low-stock { background:#fff7ed; color:#92400e; }
.status.out-stock { background:#fee2e2; color:#991b1b; }


.add_modal_holder{
  position:absolute;
  background-color: #065f46;
}

.add_modal_holder form{
  display: flex;
  flex-direction:column;
}