#root {
  /* max-width: 1280px; */
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  height: -webkit-fill-available;
  /* background-color: #f1f1f1; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar{
  z-index: 100;
  position:fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-bottom: #dddddd solid 1px;
}

.navbar_right{
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.navlogo{
  margin-left: 20px;
  color: #010101;
  font-weight: 600;
  font-family: 'Inter', 'Arial', 'sans-serif';
}

.navlink{
  position: relative;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlink button{
  
  color:whitesmoke;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  font-size: small;
  font-weight: 200;
  padding: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #010101;
}

.page_container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  background-color: #fcfcfc;
  color: #010101;
}

.page_title{
    text-align: left;
    font-weight: 600;
    font-size:x-large;
    padding-bottom:5px ;
}
.page_subtitle{
    text-align: left;
    font-size: small;
    color: #5f5f5f;
}

.page_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post{
  border: 1px solid gray;
  border-radius: 10px;
  padding: 50px;
  text-align: left;
}

.post:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: #aaa;
  scale: 1.02;
}

.readpost{
  margin-top: 80px;
  text-align: left;
  padding: 50px;
  
}

.add_button{
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #010101;
  font-weight: 400;
  cursor: pointer;
  font-size: small;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.search_bar_container{
  padding: 10px;
  border: #00e1ff solid 1px;
  background-color: #fff;
  margin: 10px;
  border-radius: 5px;
}
.search_bar{
  width: -webkit-fill-available;
  background-color: #fff;
  border: none;
}